<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Switches</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}




    </style>
</head>
<body>
<table>
    <tr>
        <th>Switch Name</th>
        <th>Interface</th>
        <th>Description</th>
        <th>State</th>
    </tr>
    {% for entry in result %}
    <tr>
        <td>{{ entry['Switch_name'] }}</td>
        <td>
            <ol>
                {% for int_name in entry['Interface_name'] %}
                <li>{{ int_name }}</li>
                {% endfor %}
            </ol>
        </td>
        <td>
            <ol>
                {% for desc in entry['Description'] %}
                <li>{{ desc }}</li>
                {% endfor %}
            </ol>
        </td>
        <td>
            <ol>
                {% for state in entry['State'] %}
                <li>{{ state }}</li>
                {% endfor %}
            </ol>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
